.rand-color {
  height: 100px;
  width: 100px;
  margin: 0 auto; }
  .rand-color .link {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    color: white;
    font-family: monospace; }
